p {
    font-style: italic;
}

/*pargrah is the selector*/
.cool-class {
       
    width: 295px;
    height: 66px;
    left: 63px;
    top: 46px;

    text-align:center;
    font-family: Proza Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #2E4277;
}

#cool-class2 {
    
    width: 295px;
    height: 66px;
    left: 63px;
    top: 46px;

    font-family: Proza Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;

    color: #2E4277;
}

.grid-table {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
}

/*Media Query*/
.container {
    max-width: 840px;
    margin: 0 auto;
    /*top ,left right,container is centered on the page*/
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto Mono', monospace;
}

.intro {
    text-align: center;
}

.profile-picture {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    box-shadow: 0 4px 8px 0 rgba(39, 54, 65, 0.16);
}

.profile-picture:hover {
    box-shadow: 0 8px 40px 0 rgba(39, 54, 65, 0.16);
}

.about-grid {
    display: grid;
    grid-template-columns: 50% 50%
        /*split half way*/
}

.about-section {
    text-align: center;
}

.about-list {
    list-style: none;
    padding: 0;

}

@media (max-width:480px) {
    .about-grid {
        grid-template-columns: 100%;
        /*only one column*/
    }
}

/*Projects */

.heading {
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.project-image {
    justify-self: center;
}

@media(max-width: 650px) {
    .projects-grid {
        grid-template-columns: 100%;
    }
}

.contact {
    display: grid;
    grid-template-columns: 30% 70%;
}

.link {
    justify-self: center;
}

.links-list {
    list-style: none;
    padding: 0;
}

@media (max-width:650px) {
    .contact {
        grid-template-columns: 100%
    }
}